body {
  margin: 0 auto;
  font-family: IBM Plex Sans,
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DBE2EA;
}

a {
  text-decoration: none;
  color: #0880AE;
}

